In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
import os

In [21]:
fn_list = sorted(os.listdir('../data/train'))
fn_list.remove('keeper')
fn_list = np.array(fn_list)

In [22]:
cols = ['kfold_idx', 'mode', 'fn']
dataset_csv = pd.DataFrame(columns=cols)

In [23]:
kf = KFold(n_splits=4, shuffle=True, random_state=42)

In [24]:
for idx, (train_index, valid_index) in enumerate(kf.split(fn_list)):
    train_fns = fn_list[train_index]
    valid_fns = fn_list[valid_index]

    for fn in train_fns:
        dataset_csv = dataset_csv.append(
            {
                'kfold_idx': idx,
                'mode': 'train',
                'fn' : fn
            }, ignore_index=True,
        )

    for fn in valid_fns:
        dataset_csv = dataset_csv.append(
            {
                'kfold_idx': idx,
                'mode': 'valid',
                'fn' : fn
            }, ignore_index=True,
        )

In [25]:
dataset_csv.to_csv('../data/data_split.csv', index=False, sep=',')
dataset_csv

    kfold_idx   mode        fn
0           0  train  PA000016
1           0  train  PA000024
2           0  train  PA000026
3           0  train  PA000036
4           0  train  PA000038
..        ...    ...       ...
395         3  valid  PA000297
396         3  valid  PA000298
397         3  valid  PA000303
398         3  valid  PA000305
399         3  valid  PA000309

[400 rows x 3 columns]